body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.43;
    background-color: #fafafa;
}
.title
{
    color: #48423B;
    padding: 40px 0px 20px 0px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.page_container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.page_center
{
    justify-content: center;
}