*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    background-color: #fafafa;
}
#page
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.header
{
    display: flex;
    flex-direction: column;
    
}
.page_content_container
{
    display: flex;
    flex-direction: column;
}
.menu_title
{
    display: flex;
    
    margin: 30px;
    padding-bottom: 0px;
    margin-left: 300px;

    font-size: 46px;
    color: #48423b;
}
.menu_buttons
{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    
}
.menu_button
{
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;

    font-size: 20px;
    text-decoration: none;
    
    background-color: #E8E8E8;

    border: solid 1px #fafafa;
    border-radius: 5px;
}
.menu_button:hover
{
    color: black;
    background-color: white;
    border-color: #fafafa;
}
